# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
git rm -r --cached .idea/shelf/
/workspace.xml

/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
.idea/
out/production/Aston/
/out
/.idea
target/